img.face {
    width:250px;
}

div.card {
    margin:5px;
    padding: 20px;
    display:flex;
    justify-content: space-around;
    width: 600px;
    margin: 100px auto;
    text-align: center;
    background-color: #ddebf8;
    border-bottom: 9px solid #d8cefe;
    color: #2b2839;
    font-size:28px;
    font-family: Verdana;

}

.border-blue {
    border: blue dotted 5px;
}