body {
    width: 300px;
    margin:200px auto;
}

#inpt-add {
    padding: 10px 30px;

}

#answer {
    padding:20px;
    text-align: justify;
}

p {
    height: 30px;
    text-align: center;
}

#add {
    padding: 10px 20px;
}

#generate {
    width:100%;
    padding: 10px
}
